
[gcode_macro test]
gcode:
  m118 {printer.gcode_move.homing_origin.z}


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # M="End_Print"
    END_PRINT

[gcode_macro END_PRINT]
gcode:
    M400
    G92 E0                         ; zero the extruder
    G1 E-10.0 F1800                 ; retract filament
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    G91                             							 										; relative positioning
    G1 Z5 F3000                  	    			 													; move nozzle up 5mm
    G90       
    ERCF_EJECT                    	    			 													; absolute positioning
	  G1 X20 Y20 F19500.0  					; park nozzle at rear
    # Disable steppers
    M84
    STATUS_OFF
    STOP_LED_EFFECTS FADETIME=1.0
   

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    SET_LED_EFFECT EFFECT=critical_error FADETIME=1.0
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

