

#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: PB1
max_power: 1.0
kick_start_time: 5.0
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: PB0
max_power: 1
shutdown_speed: 1
kick_start_time: 1
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10




[temperature_fan controller]
# Exhaust/Chamber fan - Z board, HE0 Connector
pin: PB2
max_power: .4
shutdown_speed: 0.0
kick_start_time: 5.0
# Chamber Thermistor
sensor_type: PT1000
sensor_pin: PC2
min_temp: 0
max_temp: 80.0
target_temp: 35.0   ; Activate Exhaust fan at this temperature
control: watermark
gcode_id: Cz

[temperature_fan chamber]
# Exhaust/Chamber fan - Z board, HE0 Connector
pin: PB3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
# Chamber Thermistor
sensor_type: PT1000
sensor_pin: PC1
min_temp: 0
max_temp: 70.0
target_temp: 40.0   ; Activate Exhaust fan at this temperature
control: watermark
gcode_id: C