
#####################################################################
#	Probe
#####################################################################

#[probe]
##	Inductive Probe - If you use this section , please comment the [bltouch] section
##	This probe is not used for Z height, only Quad Gantry Leveling
##	In Z+ position
##	If your probe is NC instead of NO, add change pin to ^PA3
# pin: ^PA3
# x_offset: -0.180
# y_offset: 25.0
# z_offset: 0
# speed: 10.0
# samples: 3
# samples_result: median
# sample_retract_dist: 3.0
# samples_tolerance: 0.006
# samples_tolerance_retries: 3

[probe]
pin: EBBCan: PB8
x_offset: 0
y_offset: 19.75
#z_offset: 6.42
speed: 5
samples:1
samples_result: median
sample_retract_dist: 7
samples_tolerance: 0.0075
samples_tolerance_retries: 3

# [filament_switch_sensor head_sensor]
# switch_pin: PB13
# pause_on_runout: False




#####################################################################
#      Thermistors
#####################################################################

#[temperature_sensor chamber_temp]
#sensor_type: PT1000
#sensor_pin: PC1
#min_temp: 0
#max_temp: 120

# [temperature_sensor controller_temp]
# sensor_type: PT1000
# sensor_pin: PC2
# min_temp: 0
# max_temp: 120

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100