[include ./klicky-variables.cfg]				#Requires
[include ./klicky-macros.cfg]					#Required
[include ./klicky-bed-mesh-calibrate.cfg]		#bed mesh, requires klipper configuration
[include ./klicky-quad-gantry-level.cfg]		#level 4 Z motors
[include ./klicky-z-calibration.cfg]			#Automatic Z configuration

#####################################################################
#   Probe
#####################################################################

[probe]
pin: PG15
x_offset: 0
y_offset: 0
#y_offset: 19.75
#z_offset: 0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3
drop_first_result: true
speed: 10
lift_speed: 10